name: CI

on:
  push:
    branches:
      - main
  workflow_dispatch:

permissions:
  contents: read

jobs:
  code-quality-validation:
    name: Code Quality Validation
    uses: ./.github/workflows/code-quality.yml
    permissions:
      contents: read
    with:
      soft-fail: false

